<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{!-- Header/ Responsive Nav Bar --}}
    {{> header}}

    <div class="container">
        <h1>{{subtitulo}}</h1>
    </div>

    {{!-- Tabla Clientes --}}
    <section class="container">
        <!-- Button trigger modal -->

        <div class="btn-agregar-cli">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                data-bs-target="#myModalAdd">Añadir</button>
        </div>

        <table class="table table-secondary table-striped table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Accion</th>
                </tr>
            </thead>

            <tbody>
                {{#each results}} {{!-- clientes --}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{email}}</td>
                    <td>
                        <a class="btn btn-dark edit" href="javascript:void(0);" data-cliente_id="{{id}}" data-nombre="{{nombre}}" data-apellido="{{apellido}}" data-email="{{email}}">Editar</a>
                        <a class="btn btn-danger delete" href="javascript:void(0);" data-id="{{id}}">Eliminar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    {{!-- Añadir --}}
    <!-- Modal -->
    <form action="/save_client" method="POST">
        <div class="modal fade" id="myModalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="c_nombre" placeholder="Nombre" required>
                            <label for="c_nombre">Nombre</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="c_apellido" placeholder="Apellido" required>
                            <label for="c_apellido">Apellido</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="c_email" placeholder="Email" required>
                            <label for="c_email">Email</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="cliente_id">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-dark">Añadir</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{!-- EDITAR--}}
    <form action="/update_client" method="POST">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <h6>Nombre</h6>
                            <input type="text" name="c_nombre" class="form-control c_nombre" placeholder="Nombre"
                                required>
                        </div>

                        <div class="form-group mb-3">
                            <h6>Apellido</h6>
                            <input type="text" name="c_apellido" class="form-control c_apellido" placeholder="Aepllido"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <h6>Email</h6>
                            <input type="text" name="c_email" class="form-control c_email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="cliente_id">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-dark">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{!-- Modal delete --}}
    <form id="add-row-form" action="/delete_client" method="POST">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Borrar Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>¿Estás seguro de borrar este elemento?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="cliente_id" class="form-control cliente_id2" required>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{!-- Footer --}}
    {{> footer}}

    <script src="/assets/js/modalCliente.js"></script>

</body>

</html>